.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    color: navy;
}

.main-image {
    width: 50%;
    min-width: 300px;
    height: auto;
    object-fit: contain;
    object-position: center;
}